# ----------------------------
# Python
# ----------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environment
fraud-env/
venv/
.env

# ----------------------------
# Dataset
# ----------------------------
data/
*.csv

# If you want to keep the data folder structure,
# create an empty file named .gitkeep inside data/
# and uncomment the line below.
#!data/.gitkeep

# ----------------------------
# Trained Models
# ----------------------------
models/*.pkl

# ----------------------------
# Reports
# ----------------------------
reports/
*.png
*.json

# ----------------------------
# VS Code
# ----------------------------
.vscode/

# ----------------------------
# OS Files
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# Logs
# ----------------------------
*.log

# ----------------------------
# Flask
# ----------------------------
instance/
static/uploads/

# ----------------------------
# Jupyter
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# Misc
# ----------------------------
*.tmp